{% extends 'base.html' %}



{% block content %}
<h1>Create Task</h1>
<form action="" method="POST">
    {% csrf_token %}
    <label class="form-label">Статус:</label>
    <select class="form-select" name="status">
        {% for value, status in statuses %}
            <option value="{{ value }}">{{ status }}</option>
        {% endfor %}
    </select>
    <br/>
    <label class="form-label">Название:</label>
    <input class="form-control" type="text" name="title" required>
    <br/>
    <label class="form-label">Описание:</label>
    <textarea class="form-control" name="description"></textarea>
    <br/>
    <label class="form-label">Дата выполнения:</label>
    <input class="form-control" type="text" name="deadline">
    <br/>
    <input class="btn btn-success" type="submit" value="Create">
</form>
{% endblock %}