{% extends "base.html" %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'task_add' %}">Create Task ( + )</a>
    </li>
{% endblock %}

{% block content %}
    <h1>To-Do List</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Delete">
        <div class="row">
            {% for task in tasks %}
                <div class="col col-lg-4 my-2">
                    <div class="card">
                        <h5 class="card-header"><input class="form-check-input" name="tasks" type="checkbox"
                                                       value="{{ task.pk }}"
                        > Название: <a
                                href="{% url 'task_view' task.pk %}">{{ task.title }}</a>
                        </h5>
                        <div class="card-body">
                            <h5 class="card-title">Статус: {{ task.status.name }}</h5>
                            <p class="card-text">Тип: {{ task.type.name }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
{% endblock %}