{% extends 'base.html' %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'task_add' %}">Create Task ( + )</a>
    </li>
{% endblock %}

{% block content %}
    <div class="card text-center">
        <div class="card-header">
            Название: {{ task.title }}
        </div>
        <div class="card-body">
            <h6 class="card-title">Статус: {{ task.status.name }}</h6>
            <h6 class="card-title">Тип: {{ task.type.name }}</h6>
            <p class="card-text" style="white-space: pre-wrap">{{ task.description }}</p>
        </div>
        <div class="card-footer text-muted">
            <a href="{% url 'task_update' task.pk %}" class="btn btn-primary">Update</a>
            <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
{% endblock %}